<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Product</title>
    <style>
        
        * {
            margin: 0;
            padding: 0;

        }

        .nav__list {
            display: flex;
            justify-content: start;
            background-color: greenyellow;
            color: black;
        }

        .nav__list li {
            list-style: none;
            text-decoration: none;
        }




    </style>
</head>

<body>
    
    <header>
        <nav class="nav">
            <ul class="nav__list">
                <li class="nav__list-item"> <a href="/">Shop</a> </li>
                <li class="nav__list-item"> <a href="/admin/add-product">Add Product</a> </li>
            </ul>
        </nav>
    </header>

    <section>
        <div class="form-wrapper">
            <form action="/admin/add-product" method="post">
                <label>Enter product name</label>
                <input type="text" name="product">
                <button type="submit">Add</button>
            </form>
        </div>
    </section>
</body>
</html>